backend/.idea
.run/
node_modules/
*.py[cod]
*.log
*.jar
target/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
/env_*
/env
.env
.env*
*.*~
/.env
/staticfiles
/media
/tmp
db.sqlite3
/files
.vscode
/.vscode
sonar-project.properties
.scannerwork
/data
*.env
/venv
/minio_data
ruff.toml

# celery
celerybeat-schedule
celery_worker.pid
celery_beat.pid

# sqlite3 files
.db

# local files
backend/uploads/*
